.pk-container {
	background-color: #eee;
	border: .5px solid #ccc;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;
}
.pk-container .pk-question label {
	display: block;
	margin-bottom: .5em;
}

.pk-container .pk-results p{
	position: relative;
	margin-bottom: 1em;
}
.pk-container .pk-results p span {
	z-index: 5;
	position: relative;
	display: block;
	padding-left: .5em;
}
.pk-container .pk-results p .percentage-bar{
	display: block;
	height: 100%;
	width: 0;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 0;
	background-color: rgba( 0,0,0,.08);
	z-index: 1;
	transition: width 1s ease-out;
}